<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kempis Simple Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kempis Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"></div>

  <!-- Dropdown to select basemap -->
  <ion-item>
    <ion-label>Choose Basemap</ion-label>
    <ion-select (ionChange)="changeBasemap($event.detail.value)">
      <ion-select-option value="topo-vector">Topographic</ion-select-option>
      <ion-select-option value="streets">Streets</ion-select-option>
      <ion-select-option value="satellite">Satellite</ion-select-option>
      <ion-select-option value="hybrid">Hybrid</ion-select-option>
      <ion-select-option value="dark-gray-vector">Dark Gray</ion-select-option>
      <ion-select-option value="osm">OpenStreetMap</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="showPopup()">
    Show Information
  </ion-button>

  <ion-button expand="full" (click)="findLocation()">
    Find Location
  </ion-button>

  <!-- Popover for information -->
  <ion-popover #popover>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Information</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>This is the map to locate places easily using GPS.</p>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
